.AddEditPostForm {
  background-color: rgb(255,255,255);
  padding: 20px;
  width: 400px;
  margin: auto;
  margin-top: 20px;
  text-align: left;
  border-radius: 10px;
}

.AddEditPostForm h1 {
  margin-top: 10px;
}

.AddEditPostForm input, .AddEditPostForm label {
  display: block;
  margin-bottom: 5px;
}

.AddEditForm-input {
  width: 100%;
  border: 1px solid rgb(150,150,150);
  border-radius: 5px;
  outline: none;
  padding: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.AddEditForm-input:focus {
  border: 1px solid rgb(22, 150, 224);
}

input.AddEditForm-input {
  height: 30px;
}

textarea.AddEditForm-input {
  height: 100px;
  overflow-y: auto;
}

.AddEditForm-btn-save, .AddEditForm-btn-cancel {
  height: 30px;
  width: 100px;
  margin: 10px 10px 0 0;
  border-radius: 5px;
  font-size: 16px;
  color: rgb(255,255,255);
  cursor: pointer;
  outline: none;
}

.AddEditForm-btn-save {
  background-color: rgb(22, 150, 224);
}
.AddEditForm-btn-save:hover {
  background-color: rgb(9, 127, 196);
}
.AddEditForm-btn-save:active {
  background-color: rgb(6, 87, 134);
}

.AddEditForm-btn-cancel {
  background-color: rgb(150,150,150);
}
.AddEditForm-btn-cancel:hover {
  background-color: rgb(114, 114, 114);
}
.AddEditForm-btn-cancel:active {
  background-color: rgb(83, 83, 83);
}