.NavBar {
  background-color: rgb(100,100,100);
  box-sizing: border-box;
  height: 100px;
}

.NavBar-container {
  box-sizing: border-box;
  height: 100px;
  width: 600px;
  margin: auto;
  display: flex;
  padding-bottom: 5px;
  justify-content: space-between;
}

.NavBar a{
  display: inline-block;
  color: rgb(255,255,255);
  text-decoration: none;
  align-self: flex-end;
}

.NavBar a:hover {
  text-decoration: underline;
}

.NavBar-logo {
  font-size: 36px;
}